:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --color-pointed-btn: #188CE8;
  --accent-color: #2196F3;
  --color-accent: #757575;
  --color-text: #212121;
  --color-text-light-fon: #FFFFFF;
  --color-text-dark-fon: #000000;
  --color-footer-contacts:#ffffff99;
  --section--pt: 94px;
  --section--pb: 94px;
  --color-icon: #AFB1B8;
  --radius: 4px;
  --timing:cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: var(--main-font);
  letter-spacing: 0.03em;
  font-size: 14px;
  color: var(--color-accent);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
  display: inline-block;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.section {
  padding-top: var(--section--pt);
  padding-bottom: var(--section--pb);
}

.form-modal__button, .modal-button, .footer-form__button {
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  cursor: pointer;
  border-radius: var(--radius);
  color: var(--color-text-light-fon);
  transition: background-color 250ms var(--timing);
}

.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 94px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--timing), visibility 250ms var(--timing), pointer-events 250ms var(--timing);
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 580px;
  background: var(--color-text-light-fon);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}

.modal__icon-close {
  transition: fill 250ms var(--timing);
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--color-text-light-fon);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal__close-button:hover .modal__icon-close,
.modal__close-button:focus .modal__icon-close {
  fill: var(--accent-color);
}

.form-modal {
  display: flex;
  flex-direction: column;
}

.form-modal__text-active {
  margin-bottom: 12px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--color-text);
}

.form-modal__link {
  font-family: var(--main-font);
  line-height: 1.71;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.form-modal__button {
  margin: 0 auto;
  align-items: center;
  border: 1px solid transparent;
  padding: 10px 29px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form-modal__button:hover, .form-modal__button:focus {
  background-color: var(--color-pointed-btn);
}

.form-modal__field {
  margin-bottom: 10px;
  display: block;
  font-family: var(--main-font);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form-modal__field-comment {
  margin-bottom: 20px;
  font-family: var(--main-font);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form-modal__wrapper {
  position: relative;
}

.form-modal__input {
  margin-top: 4px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms var(--timing);
}

.form-modal__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.form-modal__input:focus + .form-modal__icon {
  fill: var(--accent-color);
}

.form-modal__icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--color-text);
  transition: fill 250ms var(--timing);
}

.form-modal__footer-comments {
  margin-top: 4px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
}

.form-modal__footer-comments::placeholder {
  font-family: var(--main-font);
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #75757580;
}

.form-modal__footer-comments:focus {
  outline: none;
  border-color: var(--accent-color);
}

.form-modal__check-desk {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-family: var(--main-font);
  line-height: 1.71;
  color: #757575;
}

.form-modal__check-desk::before {
  display: block;
  content: ' ';
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  cursor: pointer;
}

.form-modal__term:focus + .form-modal__check-desk::before {
  outline: 1px solid var(--color-text-dark-fon);
}

.form-modal__term:checked + .form-modal__check-desk::before {
  background-image: url(../images/icon-check.svg);
  border: none;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--color-text);
}

.text-action {
  display: block;
  font-family: var(--secondary-font);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-text-light-fon);
}

.social {
  display: flex;
  justify-content: space-between;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--color-icon);
  background-color: var(--color-text-light-fon);
  transition: background-color 250ms var(--timing), color 250ms var(--timing);
}

.social__link:hover, .social__link:focus {
  color: var(--color-text-light-fon);
  background-color: var(--accent-color);
}

.social__icon {
  fill: currentColor;
}

.logo-dark-theme {
  color: var(--color-text-light-fon);
}

.logo-light-theme {
  color: var(--color-text-dark-fon);
}

.header {
  box-sizing: content-box;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C4C4C4;
}

.header .container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
  align-items: center;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-text);
  transition: color 250ms var(--timing);
}

.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}

.contacts {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.contacts__item {
  margin-right: 50px;
}

.contacts__item:last-child {
  margin-right: 0;
}

.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-accent);
  transition: color 250ms var(--timing);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.chosen {
  position: relative;
  color: var(--accent-color);
}

.chosen::after {
  position: absolute;
  display: block;
  margin-top: 29px;
  content: '';
  width: 100%;
  background: var(--accent-color);
  border-radius: 2px;
  height: 4px;
}

.hero {
  margin: 0 auto;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg.jpg);
  background-color: #2F303A;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-text-light-fon);
}

.modal-button {
  border: none;
  padding: 10px 32px;
}

.modal-button:hover, .modal-button:focus {
  background-color: var(--color-pointed-btn);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.features__list {
  display: flex;
  margin-right: -30px;
}

.features__item {
  flex-basis: calc((100% - 90px) / 4);
  margin-right: 30px;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__icon-fon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background: #F5F4FA;
  border-radius: var(--radius);
}

.features__subtitle {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-text);
}

.features__description {
  line-height: 1.71;
}

.work {
  padding-top: 0px;
}

.work__list {
  display: flex;
  margin-right: -30px;
}

.work__item {
  position: relative;
  flex-basis: calc((100% - 90px) /3);
  margin-right: 30px;
}

.description-fon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70px;
  width: 100%;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}

.description-fon__subtitle {
  font-size: 14px;
  font-family: var(--main-font);
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-text-light-fon);
}

.team {
  background-color: #F5F4FA;
}

.team__list {
  display: flex;
  margin-right: -30px;
}

.team__item {
  flex-basis: calc((100% - 120px) / 3);
  margin-right: 30px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--color-text);
}

.team__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__description {
  padding: 30px 32px;
}

.clients {
  padding-top: var(--section--pt);
  padding-bottom: var(--section--pb);
}

.clients__list {
  display: flex;
  justify-content: space-between;
}

.clients__item {
  width: 170px;
  height: 90px;
}

.clients__link {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: var(--color-icon);
  border: 1px solid var(--color-icon);
  border-radius: var(--radius);
  transition: border 250ms var(--timing), color 250ms var(--timing);
}

.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer .container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer .logo {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 20px;
  margin-right: 0;
}

.footer-address__link {
  margin-bottom: 9px;
  line-height: 1.71;
  color: var(--color-text-light-fon);
}

.footer-address__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address__link-contacts {
  font-family: var(--main-font);
  line-height: 1.71;
  color: var(--color-footer-contacts);
  transition: color 250ms var(--timing);
}

.footer-address__link-contacts:hover, .footer-address__link-contacts:focus {
  color: var(--accent-color);
}

.footer-networks__list {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 206px;
}

.footer-networks__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--color-text-light-fon);
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--timing);
}

.footer-networks__icon {
  fill: currentColor;
}

.footer-networks__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.footer-networks__link:hover, .footer-networks__link:focus {
  background-color: var(--accent-color);
}

.footer-form__input {
  margin-right: 12px;
  margin-top: 20px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: var(--radius);
  background-color: #2f303a;
  padding: 15px 16px;
  color: var(--color-text-light-fon);
}

.footer-form__button {
  display: inline-flex;
  align-items: center;
  border: 1px solid transparent;
  padding: 10px 29px;
  border-radius: var(--radius);
  transition: box-shadow 250ms var(--timing);
}

.footer-form__button:hover, .footer-form__button:focus {
  background-color: var(--color-pointed-btn);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-form__icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.filter__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__item {
  margin-right: 8px;
}

.filter__item:nth-child(5) {
  margin-right: 8px;
}

.filter__button {
  padding: 6px 22px;
  border: none;
  min-width: 73px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  background: #F5F4FA;
  border-radius: var(--radius);
  color: var(--color-text);
  transition: color 250ms var(--timing), background-color 250ms var(--timing), box-shadow 250ms var(--timing);
}

.filter__button:hover, .filter__button:focus {
  color: var(--color-text-light-fon);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__chosen-button {
  background-color: var(--accent-color);
  color: var(--color-text-light-fon);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.project__item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-bottom: 30px;
}

.project__link {
  transition: box-shadow 250ms var(--timing);
}

.project__link:hover, .project__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.55;
  color: #ffffff;
  overflow: hidden;
  transform: translateY(101%);
  transition: transform 250ms var(--timing);
}

.project__link:hover .project__overlay-text,
.project__link:focus .project__overlay-text {
  transform: translateY(0%);
}

.project__des-images {
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: none;
  box-sizing: border-box;
}

.project__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-text);
}

.project__description {
  font-size: 16px;
  line-height: 1.87;
  color: var(--color-accent);
}

.project__list-wrapper {
  position: relative;
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */