.header {
  box-sizing: content-box;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #c4c4c4;
}

.navigation__list {
  display: none;
}

.contacts {
  display: none;
}

.menu-btn,
.mobile-menu__close-btn {
  background-color: transparent;
  border: none;
  padding: 0;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu-btn__icon {
  width: 40px;
  height: 40px;
  fill: var(--color-text);
}

.mobile-menu__close-icon {
  width: 40px;
  height: 40px;
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: white;
  transform: translateX(100%) translateY(-100%);
  transition: transform 250ms var(--timing);

  &.is-open {
    transform: translateX(0) translateY(0);
  }
}
// ___________СТИЛИ ЧТО БЫ ОКНО ВЫЕЗЖАЛО_____________ 
// .mobile-menu {
//   opacity: 0;
//   visibility: hidden;
//   pointer-events: none;
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100vw;
//   height: 100vh;
//   padding: 48px 40px;
//   background-color: white;

//   &.is-open {
//     opacity: 1;
//     visibility: visible;
//     pointer-events: auto;
//   }
// }

// .mobile-menu {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100vw;
//   height: 100vh;
//   padding: 48px 40px;
//   background-color: white;
//   transform: translateX(100%);
//   transition: transform 250ms var(--timing);

//   &.is-open {
//     transform: translateX(0);
//   }
// }
// ___________СТИЛИ ЧТО БЫ ОКНО ВЫЕЗЖАЛО_____________ 




// _____________ДЛЯ DESKTOP _________________
// .header {
//     box-sizing: content-box;
//     border-bottom-width: 1px;
//     border-bottom-style: solid;
//     border-bottom-color: #C4C4C4;

//     .container {
//         display: flex;
//         align-items: center;
//     }
// }

// .navigation {
//     display: flex;
//     align-items: center;

//     &__list {
//         display: flex;
//         align-items: center;
//     }

//     &__item:not(:last-child) {
//         margin-right: 50px;
//     }

//     &__link {
//         padding-top: 32px;
//         padding-bottom: 32px;
//         font-weight: 500;
//         font-size: 14px;
//         line-height: 1.14;
//         letter-spacing: 0.02em;
//         color: var(--color-text);
//         transition: color 250ms var(--timing);
//     }

//     &__link:hover,
//     &__link:focus{
//         color: var(--accent-color);
//     }
// }

// .contacts {
//     margin-left: auto;
//     display: flex;
//     align-items: center;

//     &__item {
//         margin-right: 50px;
//     }

//     &__item:last-child {
//         margin-right: 0;
//     }

//     &__link {
//         display: flex;
//         align-items: center;
//         padding-top: 32px;
//         padding-bottom: 32px;
//         font-weight: 500;
//         line-height: 1.14;
//         letter-spacing: 0.02em;
//         color: var(--color-accent);
//         transition: color 250ms var(--timing);

//     }

//     &__link:hover,
//     &__link:focus {
//         color: var(--accent-color);
//     }

//     &__icon {
//         margin-right: 10px;
//         fill: currentColor;
//     }
// }
