:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --color-pointed-btn: #188CE8;
    --accent-color: #2196F3;
    --color-accent: #757575;
    --color-text: #212121;
    --color-text-light-fon: #FFFFFF;
    --color-text-dark-fon: #000000;
    --color-footer-contacts:#ffffff99;
    --section--pt: 94px;
    --section--pb: 94px;
    --color-icon: #AFB1B8;
    --radius: 4px;
    --timing:cubic-bezier(0.4, 0, 0.2, 1);
}
